<div fxLayout="row" class="contact-container">

  <div fxFlex>

    <mat-card-title>Contact Us</mat-card-title>


    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

    <br />
      <div class="column">
      <mat-card-content class="align-center">
          <p>
            2021 Bucket Lane
          <br />Nodesville, FL
          <br />12345
          <br />USA
            </p>
      </mat-card-content>
    </div>
    </mat-card>
  </div>

  <div fxFlex>

    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>
          +1-321-123-4567
          <br /><br />eulim@my365.bellevue.edu
        </p>
      </mat-card-content>
    </mat-card>
    </div>

</div>


