<div fxLayout="column" class="about-container">

  <mat-card-title>About Us</mat-card-title>

    <div fxFlex>
  <mat-card-content class="about">

<p> Nodebucket is an application to help you organize your life with the tasks you need completed.
    Maybe you have weekly repetitive tasks, add a new task and move it around between the To Do or Done columns.
    Sort your tasks in any order you like.
    For a more personal touch, sign in to keep track of your items and never lose them even after you close the application.

    <br /><br />

    This project came about during the final semester of the Web Development course at Bellevue University.
    I hope it will serve its purpose well and continue to live on after the course is completed.
    It is very functional and works great for listing your To Dos and lets you feel a sense of accomplishment when you move the To Dos to the Done column.
    <br /><br />

    Nodebucket uses MongoDB as its database. I use Visual Studio Code to write all the fun stuff. Node.js, Express and Angular with Angular Material have made this project possible.
    Also, my professor Richard Krasso, who has guided us well in this journey. My classmates are all very helpful. We are a small team but I think small teams allow better learning.

    <br /><br />
    If I level up, I would allow the cards to be color coded and even add an alert feature. Adding a profile picture would be on the cards as well.
    At the moment, I'm just happy to be able to have gotten this far.
    <br /><br />

    Feel free to <a href="/#/contact"> contact me</a> with any questions. The email is legit. Don't try to call though, or visit.
    <br /><br />

    I hope you enjoy Nodebucket as much as I have creating it.

</p>
</mat-card-content>
</div>
</div>
